<div>
  <div class="">
    <h3>Willkommen bei der Lern-App PampelCards.</h3>
    <hr>
    <p>
      Hier kannst du, nach Kategorien georndnet, 
      mit deinen Flashcards lernen, neue Karten erstellen, usw.
    </p>
  </div>
  <div class="">
    <a id="playNow" href="/card"><img id="flashcard" src="/images/icons/joker.svg" alt="Flashcard illustration"><br>Jetzt loslegen</a>
  </div>
  <div class="">
    <h1>
      {{ randomCard.question }}
    </h1>
    <h4>
      {{ randomCard.description }}
    </h4>
    <hr>
    <p>
      {{{ randomCard.sanitizedHtml }}}
    </p>
  </div>
</div>
