<div>
  <h1 class="fw-bold mb-0 fs-2">Log dich ein</h1>
</div>

<div>
  <span class="errorMessage">{{ errorMessage }}</span>
</div>
<form class="" method="POST">
  <div class="">
    <input type="text" class="" id="username" 
    name="username" placeholder="Benutzername" value="Erik">
    {{!-- name="username" placeholder="Benutzername" value="{{ username }}"> --}}
    <label for="username">Benutzername</label>
  </div>
  <div class="">
    <input type="password" class="" id="Password" name="password" placeholder="Passwort" value="hallowelt">
    <label for="Password">Passwort</label>
  </div>
  <button class="" type="submit">Login</button>
  <a class="logReg" href="/register">Ich brauche noch einen Zugang</a>
</form>
</div>
