<div>
  <div class="">
    <h3 class="">Was weisst du über ...</h3>
  </div>
  <div class="" id="question">
    {{ randomCard.question }}
  </div>
  <div class="">
    <a class="button btn-green" href="/card">okay, weiter</a>
    <button class="button btn-blue">Zeig erstmal</button>
  </div>
</div>
<div>
  <div class="" id="description">
    <h3 class="">{{ randomCard.description }}</h3>
  </div>
  <div class="" id="answer">
    {{{ randomCard.sanitizedHtml }}}
  </div>
  <div class="modal-footer">
    <a class="button btn-green" href="/card/newCard">Karte erstellen</a>
    <a class="button btn-blue" href="/card/editCard/{{randomCard._id}}">Bearbeiten</a>
    <a class="button btn-green" href="/card">okay, wusstich</a>
    <button class="button btn-red">nee, nee, neee</button>
  </div>
</div>
<a class="button btn-blue" href="/card/newCard">Karte erstellen</a>