<div class="">
  <h1 class="">Melde dich an</h1>
</div>

<div>
  <span class="errorMessage">{{ errorMessage }}</span>
</div>
<div>
  <form class="" method="POST">
    <div class="">
      <input type="text" class="" id="username" 
      name="username" placeholder="Benutzername" value="{{ username }}">
      <label for="username">Benutzername</label>
    </div>
    <div class="">
      <input type="email" class="" id="email" 
      name="email" placeholder="Email" value="{{ email }}">
      <label for="Password">Email</label>
    </div>
    <div class="">
      <input type="password" class="" id="Password" name="password" placeholder="Passwort">
      <label for="Password">Passwort</label>
    </div>
    <div class="">
      <input type="password" class="" id="Password2" name="password2" placeholder="Passwort">
      <label for="Password2">Passwort bestätigen</label>
    </div>
    <div>
      <button class="button btn-green" type="submit">Anmelden</button>
    </div>
    <div>
      <a class="logReg" href="/login">Ich bin doch schon dabei</a>
    </div>
  </form>
</div>
